# Xcode
build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Legacy Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/xcode/xcuserdata/
.swiftpm/configuration/registries.json

# CocoaPods
# We recommend against adding the Pods directory to your .gitignore.
# Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo
*~
